/* Nav bar */

* { 
    font-family: 'Open Sans', serif;
}

.navbar {
    display: flex; 
    padding: 1rem 2rem;
    background-color: var(--offwhite);
    width: 100%;
    border-bottom: 2px solid var(--blue2); 
    position: sticky;
    z-index: 1000;  
    top: 0; 
  }
  
  .title {
    color: var(--purple);
    font-weight: bold;
    transition: transform 0.2s ease;
  }

  .title:hover {
    color: var(--blue3);
    text-decoration: none;
    transform: translateY(-2px);
    cursor: pointer;
  }
  
  .nav-links {
    margin: auto 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
  }
  
  .nav-links *{
    color: var(--purple);
    transition: transform 0.2s ease;
    display: block; 
  }
  
  .nav-links *:hover {
    color: var(--blue3);
    text-decoration: none;
    transform: translateY(-1px);
    cursor: pointer;
  }
  

/* Homepage section */

.section { 
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 42rem;
    width: 90%; 
    margin: auto; 
    padding-top: 2rem;
    padding-bottom: 2rem;
    max-width: 80em;
}

.column-section { 
    display: flex; 
    height: auto; 
    margin: auto;
    align-items: stretch;
    gap: 1.5rem;
}

.column {
    flex: 50%;
    display: flex; 
    flex-direction: column; 
    justify-content: center;
}

/* About section */

.intro-picture { 
    width: 90%;
    height: 100%;
    object-fit: cover; 
    border-radius: 2rem;
    margin: auto;
    transition: transform 0.5s ease-in-out;
    max-height: 50rem; 
    max-width: 50rem;
    box-shadow: 0 2px 10px rgb(221, 216, 216);
}

.intro-picture:hover{
    transform: scale(1.025);
}

.icon-section { 
    display: flex; 
    gap: 1.5rem;
}

.icon { 
    width: 2.5rem; 
    height: 2.5rem;
}

.icon:hover { 
    transition: transform 0.2s ease;
    transform: translateY(-2px);
    cursor: pointer; 
}

.carousel {
    width: 80%;
    height: 30em;
    margin: auto; 
    border-radius: 2rem;
    overflow: hidden;
    box-shadow: 0 2px 10px rgb(221, 216, 216); 
}

/* Carousel */

.carousel-inner {
    height: 100%; 
}

.carousel-item { 
    height: 100%; 
}

.carousel-img {
    width: 100%;
    height: 30em;
    object-fit: cover; 
}

.carousel-caption {
    position: absolute;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 10px 20px; 
    border-radius: 5px;
    text-align: center; 
}

.carousel-caption * { 
    color: var(--blue1); 
    text-align: center;
}

.carousel-item img {
    transition: transform 0.5s ease-in-out;
}

.carousel-item img:hover {
    transform: scale(1.05);
}

h4 { 
    margin-top: 1rem;
    font-size: 1.25rem;
    color: var(--purple); 
    font-weight: bold;
    text-align: left; 
}

/* Tags */

.tags-container { 
    display: flex; 
    gap: 0.75rem;
    flex-wrap: wrap;
}

.tag { 
    font-size: 0.8em;
    background-color: var(--blue3);
    padding: 0.5em 1em;
    border-radius: 0.5rem;
    color: var(--offwhite);
    transition: transform 0.2s ease;
}

.tag:hover {
    transform: translateY(-2px);
}

/* Projects */

.projects-container { 
    width: 90%;
    margin: 2rem auto;
    display: flex; 
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: space-around;
}


.project-container { 
    flex: 40%;
    max-width: 50em;
    margin-top: 2rem;
    height: auto;
    padding: 3rem;
    transition: transform 0.4s ease-in-out;
    border-radius: 2rem;
}

.project-container:hover { 
    transform: scale(1.01);
    cursor: pointer; 
    box-shadow: 0 2px 10px rgb(221, 216, 216);
}

.project-container a { 
    color: var(--blue3);
}

.project-image { 
    width: 100%; 
    height: 20rem;
    object-fit: cover;
    border-radius: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 10px rgb(221, 216, 216);
}

/* Footer */

.footer { 
    padding: 1em;
    background-color: var(--blue1);
    display: flex; 
    justify-content: center;
}

.footer-items {
    margin: auto 0; 
    list-style: none;
    display: flex;
    gap: 1.5rem;
    color: var(--purple);
}

.footer-links{
    display: flex;
    gap: 1.5rem;
    margin: auto;
    border-left: 1.5px solid var(--blue2);
    padding: 0em 1em;
}

.footer-items a {
    color: var(--purple);
    text-decoration: none;
    transition: transform 0.2s ease;
    display: block; 
}

.footer-items a:hover {
    color: var(--blue3);
    text-decoration: none;
    transform: translateY(-2px);
}

/* Divider */

.divider { 
    display: flex;
    justify-content: center;
    margin: 2em 0;
}

.divider hr{ 
    border: 1px solid var(--blue2);
    width: 100%;
    opacity: 1;
}

.divider img { 
    margin: 0 1em;
}

/* Individual Project Page */

.project-page{
    padding: 0 5em;
    width: 80%; 
    max-width: 60em;
    margin: auto;
}

h5 { 
    font-size: 1em;
    text-align: left; 
    font-weight: bold;
    color: var(--purple);
}

.project-header { 
    margin-top: 3em;
}

.project-main-image { 
    background-color: var(--blue1);
    box-shadow: 0 2px 10px rgb(221, 216, 216);
    border-radius: 2em;
    max-height: 30em;
    object-fit: cover;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    float: left;
}


.project-info { 
    padding: 1em;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.project-info-row { 
    gap: 2em;
    display: flex; 
}

.project-info-div { 
    width: 20em;
}

.project-github-link { 
    margin-top: 1em;
    margin-bottom: 1em;
    box-shadow: 0 2px 10px rgb(221, 216, 216);
    padding: 0.5em 1em;
    border-radius: 1em;
    display: flex; 
    gap: 1em;
    align-items: center;
    color: var(--blue3);
    font-weight: bold;
    transition: transform 0.2s ease;
}

.project-github-link:hover { 
    transform: translateY(-2px);
    cursor: pointer;
}


.project-paragraph{
    padding: 0.5em 1em;
}

.other-projects-container {
    display: flex;
    width: 75%; 
    flex-wrap: wrap;
    justify-content: center; 
    margin: auto;
    margin-bottom: 5em;
}

.other-projects-container .project-container {
    width: 50%; 
    max-width: 30em;
}



/* Responsive styling */
@media (max-width: 768px) {

    .navbar{
        justify-content: center; 
        flex-direction: column;
    }

    .nav-links { 
        margin: auto;
    }

    .title { 
        margin-bottom: 1em;
    }

    .section {
        height: auto;
    }
    .column-section {
        flex-direction: column; 
        gap: 0;
        align-items: center;
    }

    .column {
        flex: 100%; 
        height: auto; 
        margin-bottom: 1rem; 
        justify-content: flex-start; 
        width: 90%; 
    }

    .icon-section {
        flex-wrap: wrap; 
    }

    .intro-picture {
        width: 100%;
        max-width: none; 
        max-height: none; 
        margin-bottom: 2rem;
    }

    .projects-container { 
        flex-direction: column;
    }

    .project-container {
        max-width: 100%;
    }

    .carousel {
        width: 100%;
        height: auto;
        margin-top: 1rem;
        margin-bottom: 3rem;
    }

    .carousel-inner {
        height: auto; 
    }

    .carousel-img {
        max-height: 40%;
        object-fit: cover; 
    }

    .footer {
        flex-direction: column; 
        text-align: center;
    }

    .footer-items {
        flex-direction: column; 
        gap: 0.5rem;
    }

    .footer-links{
        border: none;
    }

    .other-projects-container {
        flex-direction: column;
    }
    
    .other-projects-container .project-container {
        max-width: 100%;
    }


}

@media (max-width: 365px) {
    .nav-links { 
        font-size: 0.8em;
        gap: 1.2em;
    }
}